{% extends 'base.html.twig' %}

{% block title %}Szukaj kursów{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Szukaj kursów ✅</h1>

        {{ include('course/form/_search_form.html.twig', {'button_label': 'Szukaj'}) }}
        </br>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Właściciel</th>
                <th>Przedmiot</th>
                <th>Typ</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.id }}</td>
                    <td>{{ course.owner.username }}</td>
                    <td>{{ course.subject.name }}</td>
                    <td>{{ course.type.name }}</td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.description }}</td>
                    <td>
                        <a href="{{ path('course_edit', {'id': course.id}) }}">Edytuj</a>
                        <a href="{{ path('course_info', {'id': course.id}) }}">Pokaż</a>
                        <a href="{{ path('course_show', {'id': course.id}) }}">Wejdź</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Nie znaleziono kursów!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </br>
        <a href="{{ path('course_new') }}">Dodaj kurs</a>
        </br>
        <a href="{{ path('course_index') }}">Wróć</a>
    </div>
{% endblock %}
