{% extends 'base.html.twig' %}

{% block title %}Użytkownik{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Użytkownik ✅</h1>
        <table>
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Użytkownik</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Hasło</th>
                <td>{{ user.password }}</td>
            </tr>
            </tbody>
        </table>
        </br>
        <a href="{{ path('course_users', {'id': course.id}) }}">Wróć</a>
    </div>
{% endblock %}
