{% extends 'base.html.twig' %}

{% block title %}Przedmioty{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Przedmioty ✅</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for subject in subjects %}
                <tr>
                    <td>{{ subject.id }}</td>
                    <td>{{ subject.name }}</td>
                    <td>{{ subject.description }}</td>
                    <td>
                        <a href="{{ path('subject_edit', {'id': subject.id}) }}">Edytuj</a>
                        <a href="{{ path('subject_info', {'id': subject.id}) }}">Pokaż</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Nie znaleziono przedmiotów!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </br>
        <a href="{{ path('subject_new') }}">Dodaj przedmiot</a>
        </br>
        <a href="{{ path('index') }}">Wróć</a>
    </div>
{% endblock %}
